<h3>Enter only one key word.</h3>

<form action="/users_questions" method="POST" class="">
  <div class="form-group">
    <input type ="text" name="content" id="content" class="form-control">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>
