<% if !flash[:error].blank? %>
  <div class = "error">
    <%= flash[:error] %>
  </div>
<% end %>
<h3>Enter only one key word.</h3>

<form  action="/users_questions" method="POST">
  <div class="form-group">
    <input type "search" id ="searchBox" name="content" id="content" class="form-control" >
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>
<div>
  <ol class = "amendments">
    <% @amendments.each_with_index do |a, i| %>
      <li><%= "#{a.name}: " + a.content %></li><br>
    <% end %>
  </ol>
</div>
