<div class="jumbotron">
  <h3>Ask a Question</h3>
</div>

<ul class="list-group">
<li class="list-group-item">
<form action="/" method="POST" class="wrapper-centered-query center-block">
  <div class="form-group">
    <textarea class="form-control" rows="5"  id ="question" class="col-lg-6" name="content" class="form-control" placeholder="Your question should relate in some way to the law and your rights. And should also be specific enough so as not to be directy addressed in the amendments.
"></textarea>
    <button type="submit" class="btn btn-danger">Submit</button>
  </div>
</form>
</li>
<p>Or See These Books</p>
  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=7870f-20&marketplace=amazon&region=US&placement=0199341699&asins=0199341699&linkId=88d517e26f9daa528144e9ee9cea54ec&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066C0&bg_color=FFFFFF">
    </iframe>
  </li>
  <li class="list-group-item">
  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=7870f-20&marketplace=amazon&region=US&placement=1478396946&asins=1478396946&linkId=c892a0aef64c7bad1815b9bb69b4653d&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
    </iframe>
  </li>
</ul>
