<h3>Ask a Question.</h3>
<form action="/" method="POST">
  <div class="form-group">
    <input type "text" id ="question" name="content" class="form-control" >
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>
