<div class="jumbotron">
  <h3>Ask a Question.</h3>
</div>
<ul class="list-group">
<li class="list-group-item">
<form action="/" method="POST" class="wrapper-centered-query center-block">
  <div class="form-group">
    <textarea class="form-control" rows="5"  id ="question" class="col-lg-6" name="content" class="form-control" ></textarea>
    <button type="submit" class="btn btn-danger">Submit</button>
  </div>
</form>
</li>
</ul>
