<form action="/" method="POST" class="wrapper-centered">
  <h3>Ask a Question.</h3>
  <div class="form-group">
    <input type "text" id ="question" name="content" class="form-control" >
    <button type="submit" class="btn btn-danger">Submit</button>
  </div>
</form>
