<h3>This is your new question that you posted</h3>

<p><%= @question.content %>

<p>Choose a result that matches your search the most.<p/>

<form action="questions/user_questions" method="POST">
  <div class="form-group">
      <%Amendment.all.each do |a| %>
        <label for "amendment"><%= a.content %></label>
        <input id="amendment" class="form-control" type="checkbox" name="amendment[]" value="<%= a.id %>">
        <button type="submit" class="btn btn-default">Submit</button>
      <%end%>
  </div>
</form >
