<h3>This is your new question that you posted</h3>
<p><%= @question.content %>

<p>Choose a result that matches your search the most.<p/>

      <% @question.amendments.each do |a| %>
        <ul>
          <li><%= a.name %></li>
          <li><%= a.content %></li>
        </ul>
      <%end%>
