<h3>This is your new question that you posted</h3>
<p><%= @question.content %>

<p>Choose a result that matches your search the most.<p/>

<form action="questions/user_questions" method="POST">
  <div class="checkbox">
      <%Amendment.all.each do |a| binding.pry%>
        <label for "amendment"><%= a.content %></label>
        <input id="amendment" type="checkbox" name="amendment[]" value="<%= a.id %>">
      <%end%>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form >
