<% if !flash[:message].blank? %>
  <div class = "message">
    <%= flash[:message] %>
  </div>
<% end %>
<h3>Welcome,<%= current_user.username %></h3>
<h4>Posted Questions:</h4>
<ul>
  <% @questions.each do |q| %>
      <a href="/users/<%=q.user_id%>"><li><%= q.content %></li><a>
  <% end %>
</ul>
