<h3>My Questions:</h3>
  <ul>
    <%current_user.questions.each_with_index do |q, i|%>
          <h5><%= "#{i+1}." %> <%= q.content unless q == nil %></h5>

          <form action="/users_questions/<%=q.id%>/delete" method="POST">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-default">Delete Question</button>
          </form>
          <!-- Option to edit question -->
          <button type="submit" class="btn btn-default"><a href="/users_questions/<%=q.id%>/edit">Edit Question</a></button>

    <%end%>
  </ul>
