<div class="jumbotron">
  <h3>Edit your comment</h3>
</div>

<form action="/comments/<%=current_comment.id%>" method="POST" class="wrapper-centered-query center-block">

  <div class="form-group">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="text" name="content" value="<%= current_comment.content %>" class="form-control">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>

</form>
