<ul>
  <li><%= "#{@comment.user.username}: " + @comment.content %></li>
</ul>

<form action="/users_comments/<%=@comment.id%>" method="POST">

  <div class="form-group">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="hidden" name="content" value="<%= @comment.content %>" class="form-control">
  </div>

</form>
