<div class="container-fluid light-blue-background">
  <div class="jumbotron">
    <div class = "banner-header center-block">Join The Kenerr Community</div>
      <form class="auth-form" action="/signup" method="POST" class="wrapper-centered user">
        <p>Sign Up</p>
        <div class="form-group">
            <input type="email" name="email" placeholder="email:" id="email" class="form-control" >
        </div>

        <div class="form-group">
            <input type="text" name="username" placeholder="username:" id="username" class="form-control" >
        </div>

        <div class="form-group">
            <input type="password" name="password" placeholder="password:" id="password" class="form-control" >
        </div>

        <button type="submit" class="btn btn-danger">Submit</button>

      </form>
    </div>
</div>
