body{
  width: 100%;
  font-family: 'Roboto';
  background-color: rgba(179, 175, 241, .1);
}
/*ul li.list-group-item {
    width: 40%;
    padding: 35px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    box-shadow: 0 1px 1px -1px #A2A2A2;
    display: inline-block;
    color: #9C9C9C;
    font-weight: 700;
}*/
.error, .notice, .alert, .error, .message{
  width: 100%;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  letter-spacing: .045em;
}
.error{
  background:  #ff5252;
  color:  #fff;
}
.message{
  background: #197bce;
  color:  #fff;
}
ul li.list-group-item {
    width: 40%;
    padding: 35px;
    background-color: rgba(255, 255, 255, 1);
    margin: 10px;
    border: none;
    box-shadow: 0 1px 1px -1px #A2A2A2;
    display: inline-block;
    color: #878787;
    font-weight: 400;
}
h5{
  font-weight: 700;
  letter-spacing: .08em;
}
.glyphicon{
  margin: 0 7px 0 0px;
}
ul{
  list-style-type: none;
}
.stack{
  display: block;
  float: left;
  clear: both;
}
.form-group .col-xs-5, button.btn{
  margin-top: 10px;
  clear:both;
  background: transparent;
  color:  #ff5252;
  border: 2px solid #ff5252;
}
.navbar-inverse .navbar-nav > li > a{
  color: #fff;
}
.navbar-inverse{
  padding: 10px;
}
a.navbar-brand{
  font-size: 2em;
}
form.wrapper-centered h3, form.wrapper-centered-search h3, .navbar-header a.navbar-brand, div.jumbotron h3{
  font-family: 'Oswald', sans-serif;
  color: #ff5252;
  letter-spacing: .05em;
}
div.jumbotron{
  margin-left: 20px;
}
form.wrapper-centered{
  width: 50%;
  height: 300px;
  margin: 60px auto;
  padding: 20px 60px 20px 60px;
}
form.wrapper-centered-search{
  width: 50%;
  padding: 20px 60px 20px 60px;
  margin: 60px auto;
  margin-bottom: 40px;
}
nav.navbar.navbar-inverse {
  background: #333;
  border-radius: 0;
  border: none;
  margin-bottom:0;
  letter-spacing: .055em;
}

.container-fluid{
  width: 90%;
  padding: 0;
}
div.jumbotron {
  width: 100%;
}
.container-fluid div.jumbotron {
    width: 100%;
    padding: 20px;
    margin: 0px 0px 20px 0px;
    font-family: 'Oswald', sans-serif;
    color: #ff5252;
    box-shadow: 0 1px 1px -1px #A2A2A2;
    background: transparent;
    font-weight: bold;
    border-radius: 0;
}
.blue{
  color: #634EFF;
}
.light-red{
  color: #FF8086;
}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< MEDIA QUERIES  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media only screen and (max-width: 640px) {
  .container-fluid{
    width: 90%;
    margin: 0 5% 0 5%;
  }

  form.wrapper-centered, form.wrapper-centered-search{
    width: 100%;
  }
  .container form.wrapper-centered{
    border: none;
  }

  ul  li.list-group-item {
    width: 100%;
    margin: 5px auto;
    text-align: left;
    font-weight: 400;
  }

}
