/*#4286f4*/

/*#74839b*/
/*rgb(116, 131, 155)*/
body{
  width: 100%;
  font-family: 'Roboto';
  background-color: rgba(179, 175, 241, .1);
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.error, .notice, .alert, .message{
  width: 100%;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  letter-spacing: .045em;
  background: #F2F2F2;
  color:  #333;
}

div.jumbotron .banner-header{
  width: 100%;
  height: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  color: #F2F2F2;
  letter-spacing: .085em;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 3em;
}
.auth-form{
  width: 500px;
  margin: 60px auto;
  padding: 30px;
  border: 2px solid #4E6CA3;
  color: #4E6CA3;
  border-radius: 7px;
}
ul.list-group, ul + li.list-group-item{
  /*border: 1px solid #ccc;*/
  box-shadow: 0 3px 3px -3px #ccc;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  padding: 20px;
}
footer.footer{
  text-align: center;
  font-size: .95em;
  color: #4E6CA3;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

ul li.list-group-item {
    width: 100%;
    height: auto;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    margin: 2px 0 2px 0;
    display: inline-block;
    color: #878787;
    font-weight: 400;
    word-wrap: break-word;
    list-style: none;
}
.list-group-item {
  padding: 0px 0px 10px 0px;
}
nav.navbar.navbar-inverse + .container-fluid ul.list-group:first-child {
  margin-top: 60px;
}
h5{
  font-weight: 700;
  letter-spacing: .08em;
  color: #2D3E48;
}
.glyphicon{
  margin: 0 7px 0 0px;
}
ul{
  list-style-type: none;
}
.stack{
  display: block;
  float: left;
  clear: both;
}
button.btn{
  margin: 10px 0 0 0 ;
}
button.btn.btn-danger{
  border: 2px solid #4E6CA3;
  color: #4E6CA3;
  font-weight: bold;
}
button.btn.btn-danger:hover{
  border: none;
  color: #fff;
}
button.btn.btn-default{
  border: 2px solid #878787;
  color: #878787;
  font-weight: bold;
}
.form-group .col-xs-5, button.btn{
  /*margin-top: 10px;*/
  clear:both;
  background: transparent;
  border: 2px solid rgb(97, 155, 249);
}
.form-group .col-lg{
  margin-top: 30px;
}
.navbar-inverse .navbar-nav > li > a{
  color: #fff;
}
.navbar-inverse{
  padding: 10px;
}
.navbar-inverse .navbar-brand{
  color: #fff;
}
 a.navbar-brand{
  font-size: 2em;
  font-family: 'Oswald', sans-serif;
}
h3, h4, h5{
  font-family: 'Oswald', sans-serif;
}
form.wrapper-centered h3, form.wrapper-centered-query h3, .navbar-header{
  color: #2D3E48;
  /*#619bf9*/
  letter-spacing: .05em;
}
div.jumbotron h3{
color: #fff;
margin-left: 60px;
}
span.number{
  position: absolute;
  /*border: 2px solid rgb(97, 155, 249);*/
  background: rgb(97, 155, 249);
  color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  left: -15px;
  z-index: 2;
  text-align: center;
  padding: 5px;
}
form.wrapper-centered{
  width: 50%;
  height: 300px;
  margin: 60px auto;
  padding: 20px 60px 20px 60px;
}
form.wrapper-centered-query{
  width: 60%;
}
.padding{
  padding: 30px;
}
nav.navbar.navbar-inverse {
  background: #2D3E48;
  border-radius: 0;
  border: none;
  margin-bottom:0;
  letter-spacing: .055em;
  position: fixed;
  width: 100%;
  z-index: 3;
}
.row{
  margin: 0 5% 0 5%;
}
.container-fluid{
  width: 100%;
  padding: 0;
}
nav.navbar.navbar-inverse + .container-fluid .jumbotron{
  margin-top: 60px;
}
div.jumbotron {
  width: 100%;
}
div.jumbotron h4, div.jumbotron h3 .jumbotron .wrapper-centered-query{
  width: 100%;
  padding-left: 60px;
}
.container-fluid div.jumbotron {
    width: 100%;
    padding: 20px;
    margin: 0px 0px 20px 0px;
    color: #2D3E48;
    box-shadow: 0 1px 1px -1px #A2A2A2;
    background: rgb(97, 155, 249);
    font-weight: bold;
    border-radius: 0;
}
.blue{
  color: #4E6C7D;
}
.light-blue{
  color: rgb(97, 155, 249);
}
.light-blue-background{
  background: rgb(97, 155, 249);
}
.light-red{
  color: #2D3E48;
}
.light-grey{
  color: #ccc;
}
.grey{
  color: #666;
}
.bold{
  font-weight: bold;
}
.wrapper-centered-query .inline-label-header{
  width: 60px;
  display: inline-block;
  float: left;
  clear:none;
}
ul.list-group li.list-group-item:hover {

  cursor: pointer;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< MEDIA QUERIES  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media only screen and (max-width: 640px) {

  form.wrapper-centered, form.wrapper-centered-query{
    width: 100%;
  }
  .container form.wrapper-centered{
    border: none;
  }

  ul  li.list-group-item {
    width: 100%;
    margin: 5px auto;
    text-align: left;
    font-weight: 400;
  }

  .form-group .col-xs-5, button.btn{
    width: 100%;
  }
  .auth-form{
    width: 100%;
    margin-left: auto;
    margin-right:auto;
  }
}
