body{
  width: 100%;
  font-family: 'Roboto';
}
.glyphicon{
  color: #ff5252;
  margin: 0 7px 0 0px;
}
ul{
  list-style-type: none;
}
.form-group .col-xs-5, button.btn{
  clear:both;
}
.navbar-inverse .navbar-nav > li > a{
  color: #ff5252;
}
.navbar-inverse{
  padding: 10px;
}
form.wrapper-centered h3, .navbar-header a.navbar-brand{
  font-family: 'Oswald', sans-serif;
  color: #ff5252;
  letter-spacing: .05em;
}
form.wrapper-centered{
  width: 50%;
  height: 300px;
  margin: 60px auto;
  padding: 20px 60px 20px 60px;
}
nav.navbar.navbar-inverse {
  background: #333;
  border-radius: 0;
  border: none;
  margin-bottom:0;
}

@media only screen and (max-width: 640px) {

  .container form.wrapper-centered{
    width: 100%;
    border: none;
  }

}
