<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Kener</title>
</head>
<body>
  <!-- start of navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- start of left side of navbar -->
      <div class="navbar-header-centered">
        <a class="navbar-brand" href="/users_questions">Kener</a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar">
        <!-- start of menu on left side of navbar -->
        <ul class="nav navbar-nav">
          <% if logged_in? %>
          <li><a href="/user_questions"><span class="glyphicon glyphicon-user"></span>My Questions</a></li>
          <li><a href="/users_questions/create_question"><span class="glyphicon glyphicon-question-sign"></span>Ask a Question</a></li>
          <% else %>
          <% end %>
        </ul>
        <!-- start of right side of navbar -->
        <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        <% else %>
          <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <!-- end of navbar -->

  <!-- start of body -->
  <div class="container">
    <%= yield %>
  </div>
  <footer></footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/assets/javascript/code.js"></script>
</body>
</html>
