<form class="wrapper-centered-query center-block">
  <h3> Search Amendments </h3>
  <div class="form-group">
    <input type "search" id ="searchBox" name="content" id="content" class="form-control" >
  </div>
</form>
