<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h4>Here are all the results / amendments from every user question.</h4>
<h4>Amendments:</h4>
<ul>
  <% @amendments.each_with_index do |a, i| %>
    <p><%= "#{i+1}." %><%= a.content %></p>
  <% end %>
</ul>
