<div class="jumbotron">
  <h3>Search for an amendment and click on the amendment to select and save it to your profile.</h3>
    <form class="wrapper-centered-query center-block">
      <div class="form-group">
        <div class="col-lg">
          <input type "search" id ="searchBox" placeholder="Type a word to find a specific amendment..." name="content" id="content" class="form-control" >
        </div>
      </div>
    </form>
</div>

    <div class="row">

      <div class="col-md-12 amendments">

          <% @amendments.each_with_index do |amendment, i| %><span class="number"><%= "#{i+1}" %></span>

            <ul class="list-group">

              <li class="list-group-item padding">
                  <a class ="grey" href='<%="/amendments/#{amendment.id}"%>'>
                  <span class="light-red bold"><%= " #{amendment.name}: "%></span> <%= amendment.content%>
                </a>
              </li>
            </ul>
          <% end %>

      </div>

    </div>

  </div>

</div>
<!-- "/users_questions/#{@question.id}" -->
